.sortingbuttons-container {
    width: 90%;
    min-width: 22rem;
    max-width: 36rem;
    margin: 1rem auto 0;
}

.first-option {
    float: left;
}

.second-option {
    float: right;
}

.first-option,
.second-option {
    color: #9a9a9a;
    border: none;
    background: none;
    cursor: pointer;
}

.first-option.null > svg,
.second-option.null > svg {
    opacity: 0;
}

/* Add some kind of shadow/color gradient effect? */
.first-option.null:hover > svg,
.second-option.null:hover > svg {
    opacity: 0.25;
}

.first-option:focus,
.second-option:focus {
    outline: 0;
}

.form-overview-container .second-option {
    padding-right: 25px
}

svg {
    margin: 0 0 -0.1rem 0.2rem;
    color: black;
}
