.sortingbuttons-container {
    width: var(--SORTINGBUTTONS-CONTAINER-WIDTH);
    max-width: var(--SORTINGBUTTONS-CONTAINER-MAX-WIDTH);
    margin: 1rem auto 0;
    padding-left: 12px;
}

.first-option {
    float: left;
}

.second-option {
    float: right;
}

.first-option,
.second-option {
    color: #9a9a9a;
    border: none;
    background: none;
    cursor: pointer;
}
.first-option > svg,
.second-option > svg {
    margin: 0 0 -0.1rem 0.2rem;
    color: var(--SORTINGBUTTONS-OPTION-COLOR);
}

.first-option.null > svg,
.second-option.null > svg {
    opacity: 0;
}

.first-option.null:hover > svg,
.second-option.null:hover > svg {
    opacity: var(--SORTINGBUTTONS-NULL-HOVER-OPACITY);
}

.first-option:focus,
.second-option:focus {
    outline: 0;
}

.form-overview-container .second-option {
    padding-right: 25px;
}
