.search-container {
    width: 80%;
    min-width: fit-content;
    max-width: 25rem;
    margin: 1rem auto;
    white-space: nowrap;
}

.search-icon {
    position: absolute;
    margin: 0.7rem 0.3rem;
}

.search-input {
    padding-left: 2rem;
}

.search-input > label {
    padding-left: 2rem;
}
