.search-container {
    width: var(--SEARCH-CONTAINER-WIDTH);
    min-width: var(--SEARCH-CONTAINER-MIN-WIDTH);
    max-width: var(--SEARCH-CONTAINER-MAX-WIDTH);
    margin: 1rem auto;
    white-space: nowrap;
}

.search-container label {
    padding-left: inherit !important;
}

.search-icon {
    position: absolute;
    margin: 0.7rem 0.3rem;
}

.search-input {
    padding-left: 2rem;
}

.search-input > label {
    padding-left: 2rem;
}
