.facility-overview-container {
    background-color: #d7eafd;
    display: inline-block;
    width: 30rem;
    min-height: 100%;
    align-self: stretch;
    min-width: 20rem;
}

.facility-overview-container-max-width {
    width: 100% !important;
}

.facility-overview-title {
    margin: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}
