.facility-overview-container {
    background-color: #d7eafd;
    display: inline-block;
    width: 30rem;
    min-height: calc(100vh - 48px);
    align-self: stretch;
    min-width: 20rem;
}

.facility-overview-title {
    margin: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}

.hidden-facility {
    right: 100%;
}
