.facility-overview-container {
    background-color: #d7eafd;
    width: var(--FACILITY-OVERVIEW-WIDTH);
    min-width: var(--FACILITY-OVERVIEW-MIN-WIDTH);
    max-height: inherit;
    display: flex;
    flex-direction: column;
    right: 100%;
}

.facility-overview-title {
    margin: 1rem 2rem 0;
    font-weight: lighter;
    font-size: 1.5rem;
}

.facility-sorting-buttons {
    padding: 1rem 1.7rem 0 0.8rem;
    margin-bottom: 1rem;
}

.facility-card-section {
    max-height: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.hidden-facility {
    right: 100% !important;
    position: fixed;
    z-index: 2;
}
