.facility-overview-container {
    background-color: #D7EAFD;
    display: inline-block;
    width: 30rem;
    min-height: 100%;
    align-self: stretch;
}


.facility-overview-title {
    margin: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}