.facility-arrow-container {
    margin: 15vh auto 0;
    width: 100%;
    text-align: center;
}

.arrow {
    width: var(--FACILITY-ARROW-WIDTH);
    height: var(--FACILITY-ARROW-HEIGHT);
    margin: auto;
}

.arrow-text {
    text-align: center;
    font-weight: bold;
    font-size: var(--FACILITY-ARROW-FONT-SIZE);
}
