.facility-card {
    border: none;
    min-height: var(--FACILITY-CARD-MIN-HEIGHT);
    padding: 0.5rem 1.25rem;
    font-size: 1.2rem;
    width: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: inherit;
    outline: 0;
}

.facility-card.selected {
    background-color: var(--FACILITY-CARD-SELECTED-BACKGROUND-COLOR);
    color: var(--FACILITY-CARD-SELECTED-COLOR);
}

.facility-card:not(.selected):nth-child(odd) {
    background: var(--FACILITY-CARD-BACKGROUND);
}

.facility-card:not(.selected):hover {
    background-color: var(--FACILITY-CARD-HOVER-BACKGROUND-COLOR);
    cursor: pointer;
}

.facility-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
    text-align: left;
    width: var(--FACILITY-CARD-TITLE-WIDTH);
}

.chip-container {
    width: 30%;
}

.chip-expired {
    justify-content: center;
    background-color: var(--CHIP-EXPIRED-BACKGROUND-COLOR) !important;
    color: var(--CHIP-COLOR) !important;
    width: var(--CHIP-WIDTH);
    float: right;
}

.chip-due {
    justify-content: center;
    background-color: var(--CHIP-DUE-BACKGROUND-COLOR) !important;
    color: var(--CHIP-COLOR) !important;
    width: var(--CHIP-WIDTH);
    float: right;
}

.read-only-span {
    opacity: 0.7;
    font-size: 0.7rem;
    text-align: left;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

.read-only-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: bottom;
}
