:root {
    --error-color: #891515;
    --warning-color: #ffc324;
}

.facility-card {
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1.2rem;
    width: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3f2ff;
    outline: 0;
}

.facility-card:nth-child(even) {
    background: inherit;
}

.facility-card:hover {
    background-color: #1ea7fd;
    color: #ffffff;
    cursor: pointer;
}

.facility-card-title {
    font-size: medium;
    text-align: left;
    width: 50%;
}

.chip-expired {
    justify-content: center;
    background-color: var(--error-color) !important;
    color: #ffffff !important;
    width: 2.7rem;
    float: right;
}

.chip-due {
    justify-content: center;
    background-color: var(--warning-color) !important;
    color: #ffffff !important;
    width: 2.7rem;
    float: right;
}
