:root {
    /* APP */
    --BODY-MIN-WIDTH: 300px;
    --DHIS2-HEADER-HEIGHT: 48px;
    --NAVBAR-HEIGHT: 47px;

    /* FACILITYOVERVIEWLAYOUT */
    --FACILITY-OVERVIEW-WIDTH: 30rem;
    --FACILITY-OVERVIEW-MIN-WIDTH: 20rem;

    /* FORMOVERVIEWLAYOUT */
    --FORM-OVERVIEW-LIGHT-CONTAINER-BACKGROUND-COLOR: #e8f3ff;
    --FORM-OVERVIEW-FORM-SECTION-MAX-WIDTH: 40rem;
    --TAB-BAR-BACKGROUND-COLOR: #e8f3ff;

    /* APPHEADER */
    --APP-HEADER-BACKGROUND-COLOR: #c3e1ff;
    --APP-HEADER-TEXT-BOX-MAX-WIDTH: 36rem;

    /* DATAENTRYBOX */
    --DATACARD-HEIGHT: auto;
    --DATACARD-WIDTH: 90%;
    --DATACARD-BACKGROUND-COLOR: #fafafa;
    --TITLEBOX-WIDTH: 80%;
    --DATEBOX-CHIP-WIDTH: 67px;
    --CARD-BUTTON-HOVER: #e4e8eb;
    --EXPAND-ICON-WIDTH: 25px;
    --EXPAND-ICON-TRANSISTION-TIME: 200ms;

    /* FACILITYARROW */
    --FACILITY-ARROW-WIDTH: 20vw;
    --FACILITY-ARROW-HEIGHT: 20vw;
    --FACILITY-ARROW-FONT-SIZE: 3vw;

    /* FACILITYCARD */
    --FACILITY-CARD-BACKGROUND: #e3f2ff;
    --FACILITY-CARD-HOVER-BACKGRGROUND-COLOR: #1ea7fd;
    --FACILITY-CARD-HOVER-COLOR: #ffffff;
    --FACILITY-CARD-TITLE-WIDTH: 50%;
    --CHIP-COLOR: #ffffff;
    --CHIP-WIDTH: 40%;
    --CHIP-EXPIRED-BACKGROUND-COLOR: #891515;
    --CHIP-DUE-BACKGROUND-COLOR: #ffc324;

    /* SEARCHBAR */
    --SEARCH-CONTAINER-WIDTH: 80%;
    --SEARCH-CONTAINER-MIN-WIDTH: fit-content;
    --SEARCH-CONTAINER-MAX-WIDTH: max-width;

    /* SORTINGBUTTONS */
    --SORTINGBUTTONS-CONTAINER-WIDTH: 90%;
    --SORTINGBUTTONS-CONTAINER-MAX-WIDTH: 36rem;
    --SORTINGBUTTONS-OPTION-COLOR: black;
    --SORTINGBUTTONS-NULL-HOVER-OPACITY: 0.25;
}
