.app-header {
    background-color: var(--APP-HEADER-BACKGROUND-COLOR);
    padding: 10px 20px;
    width: 100%;
}

.app-header-text-box {
    width: 100%;
    max-width: var(--APP-HEADER-TEXT-BOX-MAX-WIDTH);
    margin: 0 auto;
}

.app-header-title {
    margin: 10px 0;
    font-weight: lighter;
    font-size: 1.5rem;
}

.app-header-subtitle {
    margin: 10px 0;
    font-weight: normal;
    font-size: 2rem;
}
