.app-header {
    background-color: #c3e1ff;
    padding: 10px 20px;
    width: 100%;
}

.app-header-title {
    margin: 10px 0;
    font-weight: lighter;
    font-size: 1.5rem;
}

.app-header-subtitle {
    margin: 10px 0;
    font-weight: normal;
    font-size: 2rem;
}
