body {
    min-width: 300px;
}

.box-shadow {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
    -moz-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
}