@import 'constants/constants.css';

body {
    min-width: var(--BODY-MIN-WIDTH);
}

.box-shadow {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
    -moz-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18) !important;
}

.app-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: calc(100vh - var(--DHIS2-HEADER-HEIGHT));
    overflow: hidden;
}

.tab-view {
    height: calc(100vh - var(--DHIS2-HEADER-HEIGHT) - var(--NAVBAR-HEIGHT));
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
