.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: var(--FORM-OVERVIEW-LIGHT-CONTAINER-BACKGROUND-COLOR);
    width: 100%;
}

.form-overview-form-section {
    width: 100%;
    max-width: var(--FORM-OVERVIEW-FORM-SECTION-MAX-WIDTH);
    margin: 0.5rem auto 1rem auto;
    height: 100vh;
    overflow: hidden;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: var(--TAB-BAR-BACKGROUND-COLOR) !important;
}

.tab {
    border: none !important;
}

@media only screen and (max-width: 400px) {
    .tab {
        border: none !important;
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
}

.form-overview-container {
    width: 100%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    background: white;
}

.max-width {
    width: 100% !important;
    transition: right 0.3s;
    right: 0;
    max-height: calc(
        100vh - var(--DHIS2-HEADER-HEIGHT) - var(--NAVBAR-HEIGHT)
    ) !important;
    min-height: 0;
}

.hidden-form {
    right: -100% !important;
    position: fixed;
    z-index: 2;
}

.form-overview-form-section .simplebar-track.simplebar-vertical {
    margin: 1rem 0;
}
