.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: #e8f3ff;
}

.form-overview-form-section {
    max-width: 40rem;
    margin: 1rem auto;
    padding-bottom: 47px;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: #e8f3ff !important;
}

.tab {
    border: none !important;
}

.form-overview-container {
    width: 100%;
    min-height: 100%;
    display: inline-block;
}

.max-width {
    width: 100% !important;
    overflow-x: hidden; /* this gives us the scrolling function -wtf ?!?! */
    height: 100vh;
    padding-bottom: 2rem;
    position: fixed;
    transition: right 0.3s;
    right: 0;
}

.hidden-form {
    right: -100%;
}

