.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: #e8f3ff;
    width: 100%;
}

.form-overview-form-section {
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem auto 1rem auto;
    height: 100vh;
    overflow: hidden;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: #e8f3ff !important;
}

.tab {
    border: none !important;
}

@media only screen and (max-width: 400px) {
    .tab {
        border: none !important;
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
}

.form-overview-container {
    width: 100%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width {
    width: 100% !important;
    position: fixed;
    transition: right 0.3s;
    right: 0;
    max-height: calc(100vh - 48px - 47px) !important;
    min-height: 0;
}

.hidden-form {
    right: -100% !important;
}

.form-overview-form-section .simplebar-track.simplebar-vertical {
    margin: 1rem 0;
}
