.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: #e8f3ff;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: #e8f3ff !important;
}

.tab {
    border: none !important;
}
