.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: #e8f3ff;
}

.form-overview-form-section {
    max-width: 40rem;
    margin: 1rem auto;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: #e8f3ff !important;
}

.tab {
    border: none !important;
}

.form-overview-container {
    width: 100%;
    height: calc(100vh - 48px);
    display: inline-block;
}
