
.form-overview-light-container {
    padding-top: 0.5rem;
    background-color: #E8F3FF;
}

.tab-bar {
    justify-content: center;
    box-shadow: none !important;
    background-color: #E8F3FF !important;
}

.tab {
    border: none !important;
}